.btn-primary {
  background: blue;
  font-size: 20px;
  color: white;
  border: 1px solid blue;
  border-radius: 5px;
  width: 30px;
  margin-right: 5px;
}

.btn-primary:hover {
  background: rgb(73, 73, 255);
  border: 1px solid rgb(73, 73, 255);
}

.btn-primary:active {
  background: rgb(0, 0, 146);
  border: 1px solid rgb(0, 0, 146);
}


.btn-secondary {
  background: red;
  font-size: 20px;
  color: white;
  border: 1px solid red;
  border-radius: 5px;
  width: 30px;
  margin-right: 5px;
}

.btn-secondary:hover {
  background: rgb(255, 73, 73);
  border: 1px solid rgb(255, 73, 73);
}

.btn-secondary:active {
  background: rgb(146, 0, 0);
  border: 1px solid rgb(146, 0, 0);
}
